

.w-40 {
    width: 70%;
}

.images-layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.hovered {
    transition: font-size .50ms ease;
}

.hovered:hover {
    font-size: 18px !important;
}

.alerted-hover:hover {
    color: red;
}