.w-40 {
    width: 70%;
}

.images-layout {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.hovered {
    transition: font-size .50ms ease;
}

.hovered:hover {
    font-size: 18px !important;
}

.alerted-hover:hover {
    color: red;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
}

.bld-bar {
    color: white;
    height: 43px;
    background: #6d5cae;
}

.pointer-hover:hover {
    cursor: pointer;
}

.image-td-align {
    display: flex;
    justify-content: center;
}

.wrapped-text {
    max-width: 150px;
    word-wrap: break-word;
}